<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Component</title>
</head>

<body>
<div class="page-container">

    <nav class="nav-container">
        <img src="{% static 'images/YIT_logo.png' %}" style=" height:50px; width:auto;">
        <a href="{% url 'component' %}">
            Component
        </a>
        <a href="{% url 'insert_data' %}">
            Insert Data
        </a>
        <a href="{% url 'select_data' %}">
            Select Data
        </a>
    </nav>

    <div class="block" style="width: 400px; height: 300px; border: 1px solid black; overflow: hidden; align-items: center;">
        <img src="{% static image_url %}" alt="Image" style="max-width:100%; max-height:50%; display: block; margin: 0 auto;">
        <div class="category" style="text-align: right;">{{ category_text }}</div>
        <div class="title" style="font-size:24px; text-align:right;">{{ title_text }}</div>
        <div class="subtitle" style="font-size:16px; text-align:right;">{{ subtitle_text }}</div>
        <div class="author" style="font-size:14px; text-align:right;">{{ credit_text }}</div>
    </div>

</div>

</body>

</html>
