<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Insert Data</title>
</head>

<body>
<div class="page-container">

    <nav class="nav-container">
        <img src="{% static 'images/YIT_logo.png' %}" style=" height:50px; width:auto;">
        <a href="{% url 'component' %}">
            Component
        </a>
        <a href="{% url 'insert_data' %}">
            Insert Data
        </a>
        <a href="{% url 'select_data' %}">
            Select Data
        </a>
    </nav>

    <form class="form-container" method="POST" enctype="multipart/form-data" id="my_form" action="{% url 'save_form_data' %}">
        {% csrf_token %}
        <div class="add-image-wrapper">
            <div class="add-image-label">תמונה</div>
            <input class="add-image-dialog" id="image-input" type="file" name="image" accept="image/png, image/jpeg"/>
        </div>
        <div class="form-category form-input-wrapper">
            <div class="category-label">קטגוריה</div>
            <input class="category-input" type="text" name="category">
        </div>
        <div class="form-title form-input-wrapper">
            <div class="title-label">כותרת</div>
            <input class="title-input" type="text" name="title">
        </div>
        <div class="form-subtitle form-input-wrapper">
            <div class="subtitle-label">כותרת משנה</div>
            <input class="subtitle-input" type="text" name="subtitle">
        </div>
        <div class="form-credit form-input-wrapper">
            <div class="credit-label">שם המחבר</div>
            <input class="credit-input" type="text" name="credit">
        </div>
        <input class="form-btn-save" type="submit" name="שמור" value="שמור"/>

    </form>

    {% if successful_save %}
        <div class="modal-success">
            <div class="modal-success-wrapper">
                <div class="success-text"> הבחירה נשמרה בהצלחה</div>
                <a class="success-btn" href="{% url 'component' %}">עמוד הבית</a>
            </div>
        </div>
    {% endif %}

</div>

</body>

</html>
